.custom-calendar {
  width: fit-content !important;
  margin: 0 auto !important;
  display: flex !important;
  justify-content: center !important;
  gap: 2rem;
}
.react-datepicker__month-container {
  border-radius: 8px;
}
.react-datepicker__header {
  background-color: #f8fafc;
  border-bottom: 1px solid #e2e8f0;
  text-align: center;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
  background-color: #22c55e !important;
  color: white !important;
}
.react-datepicker__day--in-selecting-range {
  background-color: #bbf7d0 !important;
}
.react-datepicker__current-month {
  font-weight: 600;
  color: #065f46;
}
